services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: e_commerce_rbac
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d e_commerce_rbac"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: e_commerce_rbac
      DB_SSL_MODE: disable
    depends_on:
      postgres:
        condition: service_healthy

  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile
    container_name: ecommerce-admin
    ports:
      - "3575:3575"
    volumes:
      - ./admin:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
      # untuk Vite
      VITE_API_URL: http://api:8080
    depends_on:
      - api
    command: npm run dev -- --host 0.0.0.0 --port 3575

volumes:
  pgdata:
